<%= form_for @faq do |f| %>
<% if @faq.errors.any? %>
<h2><%= pluralize(@faq.errors.count, "error") %> prevented this post from saving</h2>
<ul>
	<% @faq.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
</ul>
<% end %>



<div class="form-group form">
<%= f.label :title %><br>
<%= f.select :title, ['Brows','Lashes','Permanent-make-up','Skin'], class: "form-control" %>
</div>

<br>
<br>
<div class="form-group form">
<%= f.label :question %><br>
<%= f.text_area :question, class: "form-control"  %>
</div>
<br>
<br>
<div class="form-group form">
<%= f.label :answer %><br>
<%= f.text_area :answer, class: "form-control"  %>
</div>
<br>
<br>

<div class="form-group form">
<%= f.submit class: "btn btn-lg btn-primary"  %>
</div>

<% end %>