<!--Start Navigation-->
<%= render 'header' %>
<!--End Navigation-->

<!-- Start Header-->
<div class="full-section banner parallax">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6"> <h4>FAQs</h4></div>
		</div>
	</div>
</div>
<!-- End Header--> 
<!--Start Page Section-->
<div class="page-section">
	<div class=" col-md-12">
		<!-- Filtering -->
		<ul class="filtering">
			<li class="filter" data-filter="Permanent-make-up">  permanent make-up</li>
			<li class="filter" data-filter="Skin"> Skin</li>
			<li class="filter" data-filter="Lashes">  lashes</li>
			<li class="filter" data-filter="Brows">  Brows</li>
		</ul>
	</div>
	<div class="full-width wow fadeInUp" data-wow-duration="700ms" data-wow-delay="700ms">
		<!-- Work Grid -->
		<ul class="work-grid">
			<!-- Work Block -->
			<% @faqs.each do |faq| %>
			<li class="mix faq-item <%= faq.title %>" id="<%= faq.title %>">
				<div class="pricing-tables">
					<h1><%= faq.question %></h1>
					<h2><%= faq.answer %></h2>
				</div>
			</li>
			<% end %>
		</ul>
	</div>               
</div>
<!--End Page Section-->
</body>
</html>

