<%= render 'header' %>

<section class="section">

  <div class="col-md-offset-2 col-md-8">
    <div class="section-header">
      <h2>Admin Control panel</h2>
      <hr style="border-top: 1px solid rgba(224, 178, 152, 0.7)">
    </div>
  </div>
  <div class="container-fluid">
    <!-- Start of Homepicture Panel -->

    <%= render 'background' %>

    <!-- End of Homepicture Panel -->

    <!-- Start of Treatments Panel -->

    <%= render 'treatments' %>

    <!-- End of Treatment Panel -->

    <!-- Start of Testimonial Panel -->

    <%= render 'testimonials' %>

    <!-- End of Testimonial Panel -->

    <!-- Start of Faqs Panel -->

    <%= render 'faqs' %>

    <!-- End of Faqs Panel -->

  </div>
</section>